
<div>  
  <h3>Ejercicio 10</h3>  
  <h3>Generador de Nombres:</h3>  
  <table class="tableNames">
    <tr *ngFor="let itex of fakeRows; let x = index;">
      <td *ngFor="let item of fakeColumns; let i = index;" class="tdNames">          
        {{setNames( '{{x}}{{i}}' )}} <br><br>
        <div (click)="likeChange('{{x}}{{i}}')" class="divLike">
          <img *ngIf="!likesMap.get('{{x}}{{i}}'); else like"  src="{{imgLikeGray}}" alt="like" height="30px">
          <ng-template #like>
            <img src="{{imgLike}}" alt="like" height="30px">
          </ng-template>
        </div>
      </td>
    </tr>
  </table>
  <div class="divCenter">
    <button (click)="generarNombres()" class="btnOne">Generar Nombres</button> 
  </div>
</div>