
<div>
  
  <h3>Ejercicio 8</h3>
  
  <h3>Petición de un archivo JSON a un servidor:</h3>


  <div *ngIf="productos!=null; else espera">
    <table border="1">
      <tr>
        <td>Codigo</td><td>Descripcion</td><td>Precio</td><td>Descuento</td><td>Rating</td><td>Stock</td><td>Marca</td><td>Imagen</td>
      </tr>
      <tr *ngFor="let art of productos">
        <td>{{art.id}}</td>
        <td>{{art.title}}</td>
        <td>{{art.price}}</td>
        <td>{{art.discountPercentage}}</td>
        <td>{{art.rating}}</td>
        <td>{{art.stock}}</td>
        <td>{{art.brand}}</td>
        <td> <img src="{{art.thumbnail}}" width="200px"></td>        
      </tr>
    </table>
  </div>
  
  <ng-template #espera>Esperando datos...</ng-template>

  

</div>