
<div>
  
  <h3>Ejercicio 2</h3>
  
  <h3>Administración de Artículos:</h3>

  <table>
    <thead>
      <th>Código</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Borar</th>
      <th>Seleccionar</th>
    </thead>

    <tbody>
      <tr *ngFor="let articulo of articArr">
        <td>{{articulo.cod}}</td>
        <td>{{articulo.descripcion}}</td>
        <td>{{articulo.precio}}</td>
        <td><button (click)="delArtic(articulo.cod)">Borrar</button></td>
        <td><button (click)="selArtic(articulo)">Seleccionar</button></td>
      </tr>
    </tbody>
  </table>

  <input [(ngModel)]="art.cod" type="number" placeholder="Código">
  <input [(ngModel)]="art.descripcion" type="text" placeholder="Descripción">
  <input [(ngModel)]="art.precio" type="number" placeholder="Precio">
  <button (click)="newArtic()">Agregar</button>
  <button (click)="modArtic()">Modificar</button>

</div>