/* You can add global styles to this file, and also import other style files */
body {
    background: #fff;
    color: rgb(102, 102, 102);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    line-height: 1.5;
    margin: 0;
    padding: 0% 3% 0% 3%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

h1 {
    color: rgb(130, 101, 133);
}

table {
    font-size: medium !important;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    text-align: center;
    border: 1px solid rgb(130, 101, 133);
}

td {
    font-size: medium !important;
    border-collapse: collapse;
    border-spacing: 0;text-align: center;
    border: 1px solid rgb(130, 101, 133);
}

.tableNames {
    width: 100%;
    text-align: center;
    /* border-spacing: 8vh; */
    -webkit-border-horizontal-spacing: 4vh;
    -webkit-border-vertical-spacing: 4vh;
    /* display: inline-table;
    border: 1px solid rgb(130, 101, 133);
    padding: 1%;
    font-size: x-large; */
}

.tdNames {
    width: 16%;
    height: 10vh;
    border: 1px solid rgb(130, 101, 133);
    text-align: center;
    padding-top: 10vh;
    /* margin-right: 26vh;
    margin-bottom: 8vh; */
    /* display: inline-block; */
}

hr {
    border: 1px solid rgb(130, 101, 133);
}

#seccion {
    width: auto;
    border-radius: 20px;
    border: 2px solid rgb(130, 101, 133);
    background-color: rgb(250, 255, 227);
    padding: 3%;
    margin: 3%;
}

input {
    width: 100%;
    height: 2em;
}

button {
    width: 10em;
    height: 3em;
    background-color: rgb(231, 201, 240);
    border: 1px solid rgb(130, 101, 133);
    border-radius: 20px;
    margin: 1%;
    padding: 1%;
}

button:hover {
    background-color: rgb(231, 169, 252);
}

.btnOne {
    width: 10em;
    height: 3em;
    background-color: rgb(231, 201, 240);
    border: 1px solid rgb(130, 101, 133);
    border-radius: 20px;
    margin: 4% 0% 4% 0%;
    color: rgb(102, 102, 102);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1em;
}

.btnOne:hover {
    background-color: rgb(231, 169, 252);
}

.divCenter {
    width: 100%;
    height: auto;
    text-align: center;
}

.divLike {
    width: fit-content;
    display: contents;
}